lib/
out/
.idea/
target/

# ignore some yago native folders
data/uwn4yago
data/wordnetDomains

*.log
*.iml

wikicommons-1c391c623d29.json
output_per_img.tsv
output_per_tag.tsv
config.properties

# ignore the image_names.txt
./image_names.txt