lib/
out/
.idea/
target/

*.log
*.iml

# ignore some yago native folders
data/uwn4yago
data/wordnetDomains
data/parentCats.tsv
data/parentCats_new.tsv
data/translationCache.ser


# ignore output file
output_per_img.tsv
output_per_tag.tsv
output_groundtruth.tsv
output_cat2yago.tsv
output_per_img_parcat.tsv


google_api_key.json
config.properties
log4j2.xml

CachedParentCategories.ser


aux_cat_needs_parents.tsv


# ignore the image_names.txt
image_names.txt
image_names.txt.bak