lib/
out/
.idea/
target/

# ignore some yago native folders
data/uwn4yago
data/wordnetDomains

*.log
*.iml

google_api_key.json
output_per_img.tsv
output_per_tag.tsv
output_groundtruth.tsv
config.properties
log4j2.xml

# ignore the image_names.txt
image_names.txt
image_names.txt.bak